.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0.5vw auto;
}

.input-add {
  flex-grow: 1;
}

.btn {
  width: 8vw;
  margin-left: 1vw;
}

.addBtn {
  width: 8vw;
}

.readyBtn {
  color: white;
  background-color: green;
}

.deleteBtn {
  color: white;
  background-color: rgb(255, 94, 0);
}

.itemIteam {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-grow: 1;
  border: 1px solid black;
  padding: 0 0.5vw;
}

.itemId {
  min-width: 3vw;
}

.itemStatus {
  width: 5vw;
}

.itemName {
  flex-grow: 1;
}

.itemNameReady {
  background-color: rgb(186, 255, 186);
}
